@model IEnumerable<Uppgift12_Garage20.ViewModels.VehicleSummaryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<p>
    <a asp-action="Park">Park a vehicle</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="searchString">Search by registration :</label>
        <input type="text" name="searchString" class="form-control" value="@ViewData["CurrentFilter"]" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["VehicleTypeSortParam"]">Vehicle Type</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RegistrationSortParam"]">Registration Number</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalParkingTime)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalParkingTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParkedVehicleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParkedVehicleId">Details</a> |
                <a asp-action="EndParking" asp-route-id="@item.ParkedVehicleId">End Parking</a>
            </td>
        </tr>
}
    </tbody>
</table>
