@model IEnumerable<Uppgift12_Garage20.ViewModels.VehicleSummaryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkedTimeAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkedTimeAmount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParkedVehicleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParkedVehicleId">Details</a> |
                <a asp-action="EndParking" asp-route-id="@item.ParkedVehicleId">End Parking</a>
            </td>
        </tr>
}
    </tbody>
</table>
