@using System.Globalization
@using Microsoft.AspNetCore.Html
@model Uppgift12_Garage20.ViewModels.ParkingEndedViewModel

@{
    ViewData["Title"] = "Parking Ended";
    var successMessage = TempData["SuccessMessage"];
}

<h1>Parking Ended</h1>

@if (successMessage is not null && successMessage is string)
{
    <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
        @(new HtmlString((string)successMessage))
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h3>Thank you for using G7 Garages!</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalParkingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalParkingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>

    <form asp-action="ParkingEnded">
        <input type="hidden" asp-for="RegistrationNumber" />
        <input type="hidden" asp-for="ArrivalTime" />
        <input type="hidden" asp-for="DepartureTime" />
        <input type="hidden" asp-for="TotalParkingTime" />
        <input type="hidden" asp-for="TotalCost" />
        <div class="hstack gap-3 mb-4">
            <button type="submit" class="btn btn-primary"><i class="bi-printer"></i> Print Receipt</button>
        </div>
        <a asp-action="Index" class="link-light"><i class="bi-chevron-left"></i> Back to Garage</a>
    </form>
</div>
